@model List<Ticketora.Application.Features.CQRSDesignPattern.Event.Results.GetEventQueryResult>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Etkinlik Tarihi</th>
                <th>Lokasyon</th>
                <th>Fiyat</th>
                <th>Görsel</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.EventDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Location</td>
                    <td>@item.Price.ToString("C")</td>
                    <td><img src="@item.ImageUrl" alt="Event Image" style="max-width: 100px;" /></td>
                    <td ><a href="/Event/DeleteEvent/@item.EventId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Event/UpdateEvent/@item.EventId" class="btn btn-primary">Güncelle</a></td>
                </tr>
            }
        </tbody>
        </table>
    <a href="/Event/CreateEvent" class="btn btn-success">Yeni Etkinlik Ekle</a>
</div>
